* {
    background-image: url("background.jpg");
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
}

#DK {
    background-image: url("200.gif");
    height: 100px;
    width: 100px;
    position: absolute;
    margin-top: 14%;
    background-size: cover;
    transition: top 0.5s;
}

#score {
    margin-left: 15%;
    width: 10%;
    height: 110px;
    border: white 4px solid;
    background-image: none;
    text-align: center;
    font-size: 100px;
    color: white;
}

#banaan {
    margin-top: 9%;
    background-image: url("banana-super-mario-wiki-the-mario-encyclopedia-12.png");
    width: 5%;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}